.App {
  text-align: center;
}

html {
  background: url(https://media.discordapp.net/attachments/405555521551335424/1091033551102816297/Slide_16_9_-_6.png?width=1572&height=884);
  background-size: 100% 100;
}